@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";



html, body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.text-color {
  color: #2d3b36;
}

.backgroundImage{
  background-image: url('./assets/image2.png');
  background-repeat: no-repeat;

  
}